@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --shadow-card: 2px 4px 10px 4px #00000040;
  --shadow-footer: 0 2px 10px 0 #00000040;
  --color-florar-white: #f9f6ee;
  --color-seasalt: #faf9f7;
  --color-text: #252b2b;
  --color-btn-primary: #8e0b13;
  --color-btn-hover: #c1252f;
  --color-Error: #dc2626;
  --color-Success: #16a34a;
  --color-Border: #ececec;
}

@layer base {
  h1 {
    @apply text-xl md:text-2xl lg:text-4xl font-bold text-text;
  }
}

@layer components {
  .movie-card {
    span {
      @apply font-medium text-xs;
    }

    .icon {
      @apply w-auto h-[15px];
    }

    .badge {
      @apply px-2.5 py-1 rounded-lg bg-[#797373] text-xs text-white;
    }
  }
}
